/* import font-family */
@font-face {
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-Black.eot');
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Black.woff2') format('woff2'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Black.woff') format('woff'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Black.ttf') format('truetype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Black.svg#../fonts-family/transfonter.org-20240411-204745/Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-Light.eot');
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Light.woff2') format('woff2'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Light.woff') format('woff'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Light.ttf') format('truetype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Light.svg#../fonts-family/transfonter.org-20240411-204745/Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-LightItalic.eot');
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-LightItalic.woff2') format('woff2'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-LightItalic.woff') format('woff'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-LightItalic.ttf') format('truetype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-LightItalic.svg#../fonts-family/transfonter.org-20240411-204745/Roboto-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-Bold.eot');
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Bold.woff2') format('woff2'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Bold.woff') format('woff'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Bold.ttf') format('truetype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Bold.svg#../fonts-family/transfonter.org-20240411-204745/Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-BlackItalic.eot');
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-BlackItalic.woff2') format('woff2'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-BlackItalic.woff') format('woff'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-BlackItalic.ttf') format('truetype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-BlackItalic.svg#../fonts-family/transfonter.org-20240411-204745/Roboto-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-BoldItalic.eot');
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-BoldItalic.woff2') format('woff2'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-BoldItalic.woff') format('woff'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-BoldItalic.ttf') format('truetype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-BoldItalic.svg#../fonts-family/transfonter.org-20240411-204745/Roboto-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    src: url('../fonts-family/transfonter.org-20240411-204745/');
    src: url('../fonts-family/transfonter.org-20240411-204745/?#iefix') format('embedded-opentype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Italic.woff2') format('woff2'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Italic.woff') format('woff'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Italic.ttf') format('truetype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Italic.svg#../fonts-family/transfonter.org-20240411-204745/Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-ThinItalic.eot');
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-ThinItalic.woff2') format('woff2'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-ThinItalic.woff') format('woff'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-ThinItalic.ttf') format('truetype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-ThinItalic.svg#../fonts-family/transfonter.org-20240411-204745/Roboto-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-Medium.eot');
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Medium.woff2') format('woff2'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Medium.woff') format('woff'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Medium.ttf') format('truetype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Medium.svg#../fonts-family/transfonter.org-20240411-204745/Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-Regular.eot');
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Regular.woff2') format('woff2'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Regular.woff') format('woff'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Regular.ttf') format('truetype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Regular.svg#../fonts-family/transfonter.org-20240411-204745/Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-MediumItalic.eot');
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-MediumItalic.woff2') format('woff2'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-MediumItalic.woff') format('woff'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-MediumItalic.ttf') format('truetype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-MediumItalic.svg#../fonts-family/transfonter.org-20240411-204745/Roboto-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-Thin.eot');
    src: url('../fonts-family/transfonter.org-20240411-204745/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Thin.woff2') format('woff2'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Thin.woff') format('woff'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Thin.ttf') format('truetype'),
        url('../fonts-family/transfonter.org-20240411-204745/Roboto-Thin.svg#../fonts-family/transfonter.org-20240411-204745/Roboto-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* import font-family: Open sans */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts-family/opensans/');
    src: url('../fonts-family/opensans/?#iefix') format('embedded-opentype'),
        url('../fonts-family/opensans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts-family/opensans/OpenSans-Regular.woff') format('woff'),
        url('../fonts-family/opensans/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts-family/opensans/OpenSans-Regular.svg#../fonts-family/opensans/OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts-family/opensans/OpenSans-Italic.eot');
    src: url('../fonts-family/opensans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts-family/opensans/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts-family/opensans/OpenSans-Italic.woff') format('woff'),
        url('../fonts-family/opensans/OpenSans-Italic.ttf') format('truetype'),
        url('../fonts-family/opensans/OpenSans-Italic.svg#../fonts-family/opensans/OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


/* reset browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-top-main{
    width: 100%;
    height: 847px;
    background-color: #F4F4F5;
    
}
/* Thanh phan global */
.container{
    max-width: 1320px;
    /* height: 847px; */
    margin: auto;
    /* background-color: aqua; */
    /* padding-bottom: 90px; */
    
}
/* Khoang trong dau trang */
.empty-top{
    width: 100%;
    height: 31px;
}

/* header-top */
.header-top-main .container .header-top{
    width: 100%;
    height: 59px;
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
   
    
}


.header-top .icon-search i {
   
    width: 25px;
    height: 25px;
    margin-left: 2.5px;
   
}

/* icon-right-page */
.right-header-top{
    display: flex;
    /* margin-top: 4px; */
}

.right-header-top .box .text-icon p{
    font-family: 'Roboto';
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    font-size: 18px;
    line-height: 21.09px;
    font-weight: 400;
}
.text-icon{
    margin-left: 8px;
}
         
.right-header-top .box {
    display: flex;
   
}

.box p {
    font-size: 18px;
    line-height: 21.09px;
}

.cart{
    margin-left: 22px;
}


.header{
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.text-middle-header{
    display: flex;
    margin-left: 180px;
}
.text-middle-header p{
    font-size: 28px;
    margin: 0 10px;
    line-height: 33.6px;
    font-family: 'AmstelvarAlpha' ;
    /* font-family: ; ow day chua co font   chu */
}
.text-middle-header img{
    width: 31px;
    height: 15px;
    margin-top: 10px;
}

/* Top-menu */
.top-menu ul{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.top-menu ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Open Sans';
    color: #000000;
}

/* <!-- banner-top --> */

.banner-top{
margin-top: 81px;
display: flex;
padding-left: 10px;

}

.banner-top .tittle-text{
    /* margin-left: 300px; */
    font-size: 74px;
    font-weight: 300;
    line-height: 55px;
    margin-top: 75px;
    font-family: 'Roboto';
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
}
.banner-top .descrip-tittle{
    margin-top: 54px;
    font-size: 30px;
    font-weight: 400;
    line-height: 55px;
    font-family: 'Roboto';
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
   

}
.left-description-content{
    margin-right: 98px;
}

/* button shop now */
.button-shop-now{
    margin: 66px 459px 124px 4px;
    display: flex;
    width: 223px;
    height: 72px;
    padding: 19px 26px 19px 26px;
    background-color: #1e2832;
    margin-left:-8px;
    margin-right: -8px;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    font-family: 'Roboto';
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
}
.info-button{
    padding-left: 4px;
    padding-right: 4px
}
.text-button-head{
    color: white;
    font-size: 29px;
    font-weight: 400;
    line-height: 33.98px;
}

/* brands-logo */
.brands{
    margin: 90px 0;
}
/* hot-category */
.category{
    display: flex;
    /* justify-content: space-between; */
    margin: 0 -24px;
    position: relative;
}

.item-banner{
    padding-left: 24px;
    /* padding-right: 24px; */
}
.text-hot-category{
    width: 648px;
    height: 52px;
    /* rotate: -90deg; */
    margin-top: 30px;
    /* /* margin-left: 20px;  */
    position:absolute;
    left: 250px;
    z-index: 2;
    
}
/* .text-hot-category p{
    
} */
.row-col2{
    display: flex;
    justify-content: space-between !important;
    margin: 0 -24px;

}
.row-col2 img{
    padding-left: 24px;
    /* padding-right: 24px; */
    padding-top: 24px;
    /* padding-bottom: 24px; */

}
.right-hot-category{
    margin: -24px 0;
}

/* Grid-product-section */
.tittle-grid-product{
    display: flex;
    justify-content: center;
    margin-top: 130px;

}
.tittle-grid-product h2{
    font-size: 50px;
    font-weight: 500;
    line-height: 58.59px;
    margin-bottom: 35px;
    font-family: 'Roboto';
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
}

.button-filter{
    width: 92px;
    height: 32px;
    padding: 8px 15px 10px 15px;
    background-color: #1E2832;
    display: flex;
    font-family: 'Roboto';
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    /* margin-bottom: 3px; */
}
.item1{
    padding-left: 2px;
    padding-right: 2px;
}

.button-filter p{
    color: white;
}

.menu-grid-product{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.left-menu ul{
    display: flex;
    /* margin: 0 40.33px; */
}

.left-menu ul .bold{
    color: #000000;
}

.left-menu ul li{
    list-style: none;
    /* padding-left: 40.33px; */
    padding-right: 40.33px;
    font-size: 16px;
    line-height: 21.79px;
    font-weight: 600;
    color: #00000080 ;
    font-family: 'Open Sans';
}

/* Product */

.rows{
    display: flex;
    /* margin-top: 35px; */
    margin: -24px -24px;
    /* margin-bottom: ; */

}

.column{
    padding: 24px 24px;
    width: calc(100%/4);
    flex-wrap: wrap;
}

.name-product h6{
    margin: 18px 0 16px 10px;
    font-size: 16px;
    line-height: 21.79px;
    font-weight: 600;
    font-family: 'Open Sans';
}

.category-price-category{
    display: flex;
    padding: 0 10px 0 10px;
    justify-content: space-between;
}
.category-pr{
    color: #00000080  ;
    font-family: 'Open Sans';
}
.price-pr{
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 16px;
    color: #000000 ;
}
.special-item{
    display: flex;
}

.special-item .red-price{
    color: red;
    font-weight: 600;
    font-size: 16px;
}

/* css image */
.column .image-col1 img{
    width: 312px;
    height: 400px;
}

.brand-zara {
    position: relative;
    margin-top: 135px;
    margin-bottom: 140px;
}

/* Brand zara */
.brand-zara .image-background img{
    width: 100%;
    height: 776px;
    position: relative;
    z-index: 1;
}

.img-logo-inside img{
    position: absolute;
    z-index: 4;
    z-index: 3;
    /* color: white; */
    left: 100%;
    top: 20%;
    transform: translate(-80%, -50%);
}

.information-zara{
    position: absolute;
    z-index: 3;
    color: white;
    left: 80%;
    top: 60%;
    transform: translate(-80%, -50%);

}

.text-brand-zara p{
    font-family: 'Roboto';
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    margin: 55px 0;
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
}
.button-see-collec{
    color: #000000;
    width: 237px;
    height: 72px;
    padding: 19px 26px 19px 26px;
    background-color:#FFFFFF;
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    font-size: 29px;
    padding: 19px, 26px, 19px, 26px;
}
.information-zara .logo-zara img{
    z-index: 5;
}
/* best seller */
.button-show-all{
    width: 92px;
    height: 32px;
    /* padding: 0px 15px 0px 15px; */
    background-color: #1E2832;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-show-all p{
 color: white;
 font-family: 'Roboto';
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
 /* text-align: center; */
 /* align-items: center; */
}


/* Sale-section Intagram */
.tittle-sale-section h2{
    font-size: 50px;
    font-weight: 500;
    line-height: 58.59px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
}

.sale-section{
    margin-top: 140px;
    width: 100%;
    height: 754px;
    background-color: #1E28320D;
    padding: 100px 0;
}

.rows-col6{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 70px;
}

.img-sale img{
    width: 200px;
    height: 200px;
}

.box-search{
    display: flex;
    justify-content: center;
    margin: 0 -26px;
}
.item-search{
 padding-left: 13px;
 padding-right: 13px;
 margin-top: 74px;
}

.item-search input{ 
    width: 643px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000000 ;
    background-color: #1E28320D;
}

.item-search button{
    width: 91px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 2px solid #000000 ;
    background-color: #1E28320D;
}
/* footer */
.left-footer{
    width: 392px;
    height: 207px; 
    /* margin-right: 56px; */
}
.logo-footer{
    display: flex;
    width: 180px;
    height: 34px;
    justify-content: center;
    align-items: center;
}

.logo-footer p{
    font-size: 28px;
    font-weight: 400;
    line-height: 33.6px;
    font-family: 'Roboto';
    font-family: '../fonts-family/transfonter.org-20240411-204745/Roboto';
    color: #000000;
}
.logo-footer img{
    width: 31px;
    height: 15px;
}
.text-left-footer{
    width: 392px;
    height: 84px;
}

.text-left-footer p{
    font-family: 'Open Sans';
    color: #1E2832BF;
    margin: 32px 0;
    font-size: 16px;
    line-height: 21.79px;
    font-size: 400;
}

.socials-icon{
    display: flex;
    margin-right: 184px;
    justify-content: space-between;
}

.title-footer-menu{
    margin-bottom: 22px;
}

.title-footer-menu div{
    font-family: 'Open Sans';
    font-weight: 600;
    line-height: 21.79px;
    font-size: 16px;
}

.footer-menu .new-brands{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1E2832;
    margin-bottom: 12px;
}

.right-footer{
    display: flex;
    width: 928px;
    margin-right: 35px;
    
}

.footer-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-menu{
    width: 200px;
    height: 212px;
    margin-left: 136px;
}
.footer{
    margin-top: 140px;
    margin-left: ;
}
.last-footer{
    margin-top: 90px;
}



